@import "tailwindcss";


.open-sans {
  font-family: 'Open Sans', sans-serif;
}


.poppins {
  font-family: 'Poppins', sans-serif;
}

.hero-btn{
background:linear-gradient(114.66deg, #1870F6 62.27%, #32FEFE 95.1%);
color: white;
}




.hero-btn:hover{
  background: linear-gradient(132.39deg, #0207F7 0%, #14FFFF 69%);
  color: black;
}

.box-grid{
  display: grid;
 
}

.box-left{
  display: flex;
 
}

@media screen and (min-width:1100px){
  .box-grid{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  .box-left{
    grid-column-start: span 2;
   
  }
}
